/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы 
были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family);
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-size: cover;
  background-attachment: fixed;
  block-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.width {
  width: var(--content-width);
}

.header {
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
  background-color: var(--background-color);
  text-align: center;
  margin-block-start: 100px;
  margin-block-end: 98px;
  border: var(--border);
  padding: var(--padding);
}

.header-title {
  font-size: var(--header-title-size);
  margin-block-end: 20px;
}

.header-subtitle {
  font-size: var(--header-subtitle-size);
}

/*не забудь про бордеры у картинок*/
.image-cover {
  border-block-start: var(--border);
  border-block-end: var(--border);
}

.card {
  background-color: var(--background-color);
  border: var(--border);
}

.card-image {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.card-title {
  padding: 4px 10px;
  font-family: var(--main-font-family);
  font-size: 18px;
}

.card-content {
  display: grid;
  gap: 25px;
  padding: 25px;
}

