/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы 
были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font-family);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  block-size: 100%;
  font-variation-settings: 'wght' var(--weight-regular), 'wdth' var(--width);
}

.width {
  width: var(--content-width);
}

.header {
  margin-block-start: 100px;
  margin-block-end: 98px;
  border: var(--border);
  padding: var(--padding);
  font-family: var(--secondary-font-family);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--background-color);
}

.header-title {
  margin-block-end: 20px;
  font-size: var(--header-title-size);
}

.header-subtitle {
  font-size: var(--header-subtitle-size);
}

.image-cover {
  position: relative;
  display: flex;
  border-block-start: var(--border);
  border-block-end: var(--border);
}

.logo {
  content: "";
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 50%;
  font-family: var(--secondary-font-family);
  font-size: 14px;
  text-shadow: 
    -1px 0 #fff,
    0 1px #fff,
    1px 0 #fff,
    0 -1px #fff;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .logo {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

.content {
  display: grid;
  gap: 50px;
  margin-block-end: 100px;
}

.card {
  border: var(--border);
  background-color: var(--background-color);
}

.card-image {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.brightness {
  filter: brightness(0.5);
}

.contrast {
  filter: contrast(1.5);
}

.mixfilter {
  filter: grayscale(1) blur(0.2rem) invert(0.7);
}

.sepia {
  filter: sepia(1);
}

.saturate {
  filter: saturate(2);
}

.opacity {
  filter: opacity(0.2);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}
.blur {
  filter: blur(1.5rem);
} 

.card-title {
  padding: 4px 10px;
  font-family: var(--main-font-family);
  font-variation-settings: 'wght' var(--weight-bold), 'wdth' var(--width);
  font-size: 18px;
  line-height: 100%;
}

.card-content {
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card-content p:not(:last-child) {
  margin-block-end: 25px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus,
button:not(.card__icon-button):focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: solid 2px var(--button-shadow);
}

button {
  /* это тег */
  position: relative;
  border: none;
  font-family: var(--secondary-font-family);
  font-size: 14px;
  line-height: 90%;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
}

button:not(.card__icon-button):focus-visible {
  box-shadow: 2px 2px 0 var(--button-shadow);
  outline: none;
}

.button {
  /* это класс */
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 8px;
  /* вычла 2рх из-за рамки */
}

button:not(.card__icon-button)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--button-shadow);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

button:not(.card__icon-button):hover::before {
  transform: scaleX(1);
}

button:not(.card__icon-button) .button__text {
  z-index: 10;
  color: var(--background-color);
  mix-blend-mode: difference;
}

button:not(.card__icon-button) .icon {
  z-index: 10;
  color: var(--background-color);
  mix-blend-mode: difference;
}

.card-buttons {
  padding: 0 25px 25px;
}

.card__like-button {
  width: 130px; /* в макете ширина и высота фиксированы */
  height: 40px; /* добавила 2рх, так как рамка иконки сердца в фокусе больше, чем кнопка лайка при height 38px, а должна быть вровень */
  border: var(--border);
}

svg .contour {
  transition: fill 0.1s linear;
}

svg .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

svg .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

svg .sparks {
  opacity: 0;
}

.like-icon {
  transform-origin: center;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--main-heart-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--main-heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--main-heart-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--main-heart-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--main-heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart {
  animation: scale-animation 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity-animation 0.3s ease-in 0.3s;
}

.heart {
  transform-origin: center;
}

.footer {
  margin: 0 auto;
}

.footer-button {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 306px;
  min-height: 84px;
  border: var(--border);
  background-color: var(--background-color);

  @media (width >= 768px) {
    flex-direction: row;
    min-width: 335px;
    min-height: 55px;
  }
}

@media (width <= 375px) {
  .footer-button {
    flex-direction: column;
  }

  .footer-button svg {
    block-size: 2em;
  }

  .dialog {
    padding: 30px 40px;
    inline-size: 100%;
  }
}

.icon {
  width: 28px;
  height: 28px;

  @media (width >= 768px) {
    width: 21px;
    height: 21px;
  }
}

.icon-dialog {
  width: 39px;
  min-width: 39px;
  height: 39px;
}

.dialog {
  max-width: 353px;
  border: var(--border);
  padding: 30px 40px;

  @media (width >= 768px) {
    padding: 30px;
  }
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__text {
  font-family: var(--secondary-font-family);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  inline-size: 100%;
}

.dialog-button {
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 38px;
  margin-block-start: 30px;
  border: var(--border);
}
