/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы 
были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font-family);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  block-size: 100%;
}

.width {
  width: var(--content-width);
}

.header {
  margin-block-start: 100px;
  margin-block-end: 98px;
  border: var(--border);
  padding: var(--padding);
  font-family: var(--secondary-font-family);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--background-color);
}

.header-title {
  margin-block-end: 20px;
  font-size: var(--header-title-size);
}

.header-subtitle {
  font-size: var(--header-subtitle-size);
}

/*не забудь про бордеры у картинок*/
.image-cover {
  border-block-start: var(--border);
  border-block-end: var(--border);
  display: flex;  
}

.content {
  margin-block-end: 48px;
  display: grid;
  gap: 50px;
}

.card {
  border: var(--border);
  background-color: var(--background-color);
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.checkpoint {
  filter: invert(0.7);
}

.card-title {
  padding: 4px 10px;
  font-family: var(--main-font-family);
  font-size: 18px;
  font-weight: 715;
}

.card-content {
  display: grid;
  gap: 25px;
  padding: 25px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.3s ease;
  border: solid 2px transparent;
}

.card__icon-button:focus,
button:not(.card__icon-button):focus  {
  outline: none;
}

.card__icon-button:focus-visible {
  border: solid 2px var(--button-shadow);
}

button { /* это тег */
  border: none;
  font-family: var(--secondary-font-family);
  font-size: 14px;
  line-height: 90%;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
  position: relative;
}

button:not(.card__icon-button):focus-visible {
  box-shadow: 2px 2px 0 var(--button-shadow);
  outline: none;
}

.button { /* это класс */
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 8px;
   /* вычла 2рх из-за рамки */
}

button:not(.card__icon-button)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--button-shadow);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

button:not(.card__icon-button):hover::before {
  transform: scaleX(1);
}

button:not(.card__icon-button) .button__text {
  z-index: 10;
  color: var(--background-color);
  mix-blend-mode: difference;
}

.card-buttons {
  padding: 0 25px 25px;
}

.card__like-button {
  width: 130px; /* в макете ширина и высота фиксированы */
  height: 40px; /* добавила 2рх, так как рамка иконки сердца в фокусе больше, чем кнопка лайка при height 38px, а должна быть вровень */
  border: var(--border);
}

svg .contour {
  transition: fill 0.1s linear;
}

svg .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

svg .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

svg .sparks {
  opacity: 0;
}

.like-icon {
  transform-origin: center;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--main-heart-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--main-heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--main-heart-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--main-heart-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--main-heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart {
  animation: scale-animation 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity-animation 0.3s ease-in 0.3s;
}

.heart {
  transform-origin: center;
}

.footer-button {
  min-width: 306px;
  min-height: 84px;
  background-color: var(--background-color);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--border);
  margin-block-end: 98px; /* вычла толщину рамки */

  @media (width >= 768px) {
    flex-direction: row;
    min-width: 335px;
    min-height: 55px;
  }
}

@media (width <= 375px) {
  .footer-button {
    flex-direction: column;
  }

  .footer-button svg {
    block-size: 2em;
  }

  .popup {
    inline-size: 100%;
    padding: 30px 40px;
  }
}
