/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: 'Inter-Variable', sans-serif;
  --secondary-font-family: 'Press Start 2P', fantasy;
  --background-image: repeating-linear-gradient(90deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px), 
  repeating-linear-gradient(0deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px), 
  linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --background-color: #fff;
  --header-title-size: clamp(49px, 43.37px + 1.50vw, 65px); /*в инете калькулятор нашла*/
  --header-subtitle-size: clamp(14px, 10.83px + 0.85vw, 23px);
  --padding: calc(clamp(122px, 119.18px + 0.75vw, 130px) - 2px) clamp(16px, -21.50px + 10.00vw, 122.5px); /* из паддинга верха и низа вычла по 2 пикселя ширины рамки*/
  --content-width: clamp(375px, 260.56px + 30.52vw, 700px);
  --border: 2px solid rgba(0 0 0 / 1);
  --heart-contour-color: #000;
  --main-heart-color: #f00;
  --hover-heart-color: #000;
  --button-shadow: rgba(0 0 0 / 1);
  --width: 100;
  --weight-regular: 410;
  --weight-bold: 715;
}

